# Django Settings
DEBUG=True
SECRET_KEY=django-insecure-b)i1d%txk%+-r04b_9$5x%8$q%^%522arq15pt5w+1)m2njfg*
ALLOWED_HOSTS=localhost,127.0.0.1,breathe-esg.herokuapp.com

# Database
DB_ENGINE=django.db.backends.postgresql
DB_NAME=breathe_esg
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000,https://breathe-esg.vercel.app

# API Settings
API_URL=http://localhost:8000/api
